@model realTimePolls.Models.User


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Login" asp-action="Login">Sign-In</a>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@Model.Name</p>
    <p>@Model.Email</p>
    <div>

    </div>

</div>
<script>
</script>