html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: "Global User Interface", sans-serif !important
}

h1 {
    text-align: center;
    font-size: 2.4em;
    color: #f2f2f2;
}

.container {
    display: block;
    text-align: center;
}


.avatar {
    width: 30px;
    border-radius: 15px
}

.user-flex {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: column;
}

.table-data {
    cursor: pointer;
}







ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.navbar {
    height: 84px;
    background-color: #0E0E0E;
    padding-left: 10px;
    padding-right: 10px
}

.sign-in-link {
    color: white;
    text-decoration: none color: rgb(35, 148, 253);
    text-decoration-color: initial;
    font-family: 'Inter';
    text-decoration: 0;
    color: white;
    border-style: solid;
    padding: 7px;
    border-radius: 10px;
}

.star-icon {
    filter: brightness(0) saturate(100%) invert(64%) sepia(54%) saturate(6274%) hue-rotate(181deg) brightness(100%) contrast(98%);
}

.welcome {
    font-size: 12px;
    color: white;
    padding-top: 10px;
    margin-bottom: 10px !important
}


.logo {
    color: var(--White, #FFF);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0;
    text-decoration: initial
}

.icon-flex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.nav-links {
    display: inline-flex;
    align-items: center;
    gap: 32px;
}

.home {
    color: var(--White, #FFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.create-btn {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.vote-flex {
    display: flex;
    flex-direction: column
}

.rwd-table {
  margin: auto;
  min-width: 250px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #428bca;
  color: #fff;
  text-wrap: nowrap
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: center;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}


@media screen and (min-width: 1280px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}



/* On screens that are 992px or less, set the background color to blue */
/*@media screen and (max-width: 992px) {
    body {
        background-color: blue;
    }
}*/


.container {
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    padding: 20px;
    gap: 20px;
}


.container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}



input[type=radio]:checked ~ .check {
    border: 5px solid #0DFF92; 
}

input[type=radio]:checked ~ label {
    color: #0DFF92 !important; 
}

input[type=radio]:checked ~ .check::before {
    background: #0DFF92; 
}

.genre-heading {
    font-size: 24px;
}

 .vote-container, .vote-option, .vote-p, .vote-count {
    font-size: 16px; 
}

.vote-container {
    height: 80px;
    overflow-wrap: anywhere;
}

.vote-option {
    width: 100%;
}

.vote-p {
    font-size: 20px;
}

.vote-count {
    color: gray;
}

.footer {
    display: flex;
    background-color: #171923;
    color: white;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 5px 0px 5px;
    flex: 0
}

.logo {
    height: 75px;
    width: 75px;
    filter: brightness(0) saturate(100%) invert(98%) sepia(6%) saturate(243%) hue-rotate(199deg) brightness(116%) contrast(100%);
    cursor: pointer
}

.logo-second{
    height: 27px;
    width: 27px;
    cursor: pointer;
}

.logo, .logo-second {
    margin-bottom: 8px
}


.proj-title {
    font-family: monospace;
    font-size: 20px
}

@media (min-width: 0px) and (max-width: 768px) {

    .logo {
        display: none
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    .proj-title {
        font-size: 14px;
    }

    .logo {
        height: 45px;
        width: 45px;
    }

    .home-logo {
        display: none
    }

    .logo, .logo-second {
        margin-bottom: 5px
    }

}


.paginationjs {
    display: flex;
    line-height: 1.6;
    font-family: Marmelad,"Lucida Grande",Arial,"Hiragino Sans GB",Georgia,sans-serif;
    font-size: 14px;
    box-sizing: initial;
    justify-content: center
}

    .paginationjs:after {
        display: table;
        content: " ";
        clear: both
    }

    .paginationjs .paginationjs-pages {
        float: left;
        margin-left: 10px
    }

        .paginationjs .paginationjs-pages ul {
            float: left;
            margin: 0;
            padding: 0
        }

    .paginationjs .paginationjs-go-button, .paginationjs .paginationjs-go-input, .paginationjs .paginationjs-size-changer {
        margin-left: 10px;
        float: left;
        font-size: 14px
    }

    .paginationjs .paginationjs-pages li {
        float: left;
        border: 1px solid #aaa;
        border-right: none;
        list-style: none
    }

        .paginationjs .paginationjs-pages li > a {
            min-width: 30px;
            height: 28px;
            line-height: 28px;
            display: block;
            background: #fff;
            font-size: 14px;
            color: #333;
            text-decoration: none;
            text-align: center;
            cursor: pointer
        }

            .paginationjs .paginationjs-pages li > a:hover {
                background: #eee
            }

        .paginationjs .paginationjs-pages li.active {
            border: none
        }

            .paginationjs .paginationjs-pages li.active > a {
                height: 30px;
                line-height: 30px;
                background: #aaa;
                color: #fff;
                cursor: default
            }

        .paginationjs .paginationjs-pages li.disabled > a {
            opacity: .3;
            cursor: default
        }

            .paginationjs .paginationjs-pages li.disabled > a:hover {
                background: 0 0
            }

        .paginationjs .paginationjs-pages li:first-child, .paginationjs .paginationjs-pages li:first-child > a {
            border-radius: 3px 0 0 3px
        }

        .paginationjs .paginationjs-pages li:last-child {
            border-right: 1px solid #aaa;
            border-radius: 0 3px 3px 0
        }

            .paginationjs .paginationjs-pages li:last-child > a {
                border-radius: 0 3px 3px 0
            }

    .paginationjs .paginationjs-size-changer > select {
        height: 28px;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #aaa;
        padding: 0;
        font-size: 14px;
        text-align: center;
        vertical-align: baseline;
        outline: 0;
        box-shadow: none;
        box-sizing: initial
    }

    .paginationjs .paginationjs-go-input > input[type=text] {
        width: 30px;
        height: 28px;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #aaa;
        padding: 0;
        font-size: 14px;
        text-align: center;
        vertical-align: baseline;
        outline: 0;
        box-shadow: none;
        box-sizing: initial
    }

    .paginationjs .paginationjs-go-button > input[type=button] {
        min-width: 40px;
        height: 30px;
        line-height: 28px;
        background: #fff;
        border-radius: 3px;
        border: 1px solid #aaa;
        text-align: center;
        padding: 0 8px;
        font-size: 14px;
        vertical-align: baseline;
        outline: 0;
        box-shadow: none;
        color: #333;
        cursor: pointer;
        vertical-align: middle\9
    }

        .paginationjs .paginationjs-go-button > input[type=button]:hover {
            background-color: #f8f8f8
        }

    .paginationjs .paginationjs-nav {
        float: left;
        height: 30px;
        line-height: 30px;
        font-size: 14px
    }

    .paginationjs.paginationjs-small {
        font-size: 12px
    }

        .paginationjs.paginationjs-small .paginationjs-pages li > a {
            min-width: 26px;
            height: 24px;
            line-height: 24px;
            font-size: 12px
        }

        .paginationjs.paginationjs-small .paginationjs-pages li.active > a {
            height: 26px;
            line-height: 26px
        }

        .paginationjs.paginationjs-small .paginationjs-size-changer {
            font-size: 12px
        }

            .paginationjs.paginationjs-small .paginationjs-size-changer > select {
                height: 24px;
                font-size: 12px
            }

        .paginationjs.paginationjs-small .paginationjs-go-input {
            font-size: 12px
        }

            .paginationjs.paginationjs-small .paginationjs-go-input > input[type=text] {
                width: 26px;
                height: 24px;
                font-size: 12px
            }

        .paginationjs.paginationjs-small .paginationjs-go-button {
            font-size: 12px
        }

            .paginationjs.paginationjs-small .paginationjs-go-button > input[type=button] {
                min-width: 30px;
                height: 26px;
                line-height: 24px;
                padding: 0 6px;
                font-size: 12px
            }

        .paginationjs.paginationjs-small .paginationjs-nav {
            height: 26px;
            line-height: 26px;
            font-size: 12px
        }

    .paginationjs.paginationjs-big {
        font-size: 16px
    }

        .paginationjs.paginationjs-big .paginationjs-pages li > a {
            min-width: 36px;
            height: 34px;
            line-height: 34px;
            font-size: 16px
        }

        .paginationjs.paginationjs-big .paginationjs-pages li.active > a {
            height: 36px;
            line-height: 36px
        }

        .paginationjs.paginationjs-big .paginationjs-size-changer {
            font-size: 16px
        }

            .paginationjs.paginationjs-big .paginationjs-size-changer > select {
                height: 34px;
                font-size: 16px
            }

        .paginationjs.paginationjs-big .paginationjs-go-input {
            font-size: 16px
        }

            .paginationjs.paginationjs-big .paginationjs-go-input > input[type=text] {
                width: 36px;
                height: 34px;
                font-size: 16px
            }

        .paginationjs.paginationjs-big .paginationjs-go-button {
            font-size: 16px
        }

            .paginationjs.paginationjs-big .paginationjs-go-button > input[type=button] {
                min-width: 50px;
                height: 36px;
                line-height: 34px;
                padding: 0 12px;
                font-size: 16px
            }

        .paginationjs.paginationjs-big .paginationjs-nav {
            height: 36px;
            line-height: 36px;
            font-size: 16px
        }

    .paginationjs > :first-child {
        margin-left: 0
    }

    .paginationjs.paginationjs-theme-blue .paginationjs-pages li {
        border-color: #289de9
    }

        .paginationjs.paginationjs-theme-blue .paginationjs-pages li > a {
            color: #289de9
        }

            .paginationjs.paginationjs-theme-blue .paginationjs-pages li > a:hover {
                background: #e9f4fc
            }

        .paginationjs.paginationjs-theme-blue .paginationjs-pages li.active > a {
            background: #289de9;
            color: #fff
        }

        .paginationjs.paginationjs-theme-blue .paginationjs-pages li.disabled > a:hover {
            background: 0 0
        }

    .paginationjs.paginationjs-theme-blue .paginationjs-go-input > input[type=text], .paginationjs.paginationjs-theme-blue .paginationjs-size-changer > select {
        border-color: #289de9
    }

    .paginationjs.paginationjs-theme-blue .paginationjs-go-button > input[type=button] {
        background: #289de9;
        border-color: #289de9;
        color: #fff
    }

        .paginationjs.paginationjs-theme-blue .paginationjs-go-button > input[type=button]:hover {
            background-color: #3ca5ea
        }

    .paginationjs.paginationjs-theme-green .paginationjs-pages li {
        border-color: #449d44
    }

        .paginationjs.paginationjs-theme-green .paginationjs-pages li > a {
            color: #449d44
        }

            .paginationjs.paginationjs-theme-green .paginationjs-pages li > a:hover {
                background: #ebf4eb
            }

        .paginationjs.paginationjs-theme-green .paginationjs-pages li.active > a {
            background: #449d44;
            color: #fff
        }

        .paginationjs.paginationjs-theme-green .paginationjs-pages li.disabled > a:hover {
            background: 0 0
        }

    .paginationjs.paginationjs-theme-green .paginationjs-go-input > input[type=text], .paginationjs.paginationjs-theme-green .paginationjs-size-changer > select {
        border-color: #449d44
    }

    .paginationjs.paginationjs-theme-green .paginationjs-go-button > input[type=button] {
        background: #449d44;
        border-color: #449d44;
        color: #fff
    }

        .paginationjs.paginationjs-theme-green .paginationjs-go-button > input[type=button]:hover {
            background-color: #55a555
        }

    .paginationjs.paginationjs-theme-yellow .paginationjs-pages li {
        border-color: #ec971f
    }

        .paginationjs.paginationjs-theme-yellow .paginationjs-pages li > a {
            color: #ec971f
        }

            .paginationjs.paginationjs-theme-yellow .paginationjs-pages li > a:hover {
                background: #fdf5e9
            }

        .paginationjs.paginationjs-theme-yellow .paginationjs-pages li.active > a {
            background: #ec971f;
            color: #fff
        }

        .paginationjs.paginationjs-theme-yellow .paginationjs-pages li.disabled > a:hover {
            background: 0 0
        }

    .paginationjs.paginationjs-theme-yellow .paginationjs-go-input > input[type=text], .paginationjs.paginationjs-theme-yellow .paginationjs-size-changer > select {
        border-color: #ec971f
    }

    .paginationjs.paginationjs-theme-yellow .paginationjs-go-button > input[type=button] {
        background: #ec971f;
        border-color: #ec971f;
        color: #fff
    }

        .paginationjs.paginationjs-theme-yellow .paginationjs-go-button > input[type=button]:hover {
            background-color: #eea135
        }

    .paginationjs.paginationjs-theme-red .paginationjs-pages li {
        border-color: #c9302c
    }

        .paginationjs.paginationjs-theme-red .paginationjs-pages li > a {
            color: #c9302c
        }

            .paginationjs.paginationjs-theme-red .paginationjs-pages li > a:hover {
                background: #faeaea
            }

        .paginationjs.paginationjs-theme-red .paginationjs-pages li.active > a {
            background: #c9302c;
            color: #fff
        }

        .paginationjs.paginationjs-theme-red .paginationjs-pages li.disabled > a:hover {
            background: 0 0
        }

    .paginationjs.paginationjs-theme-red .paginationjs-go-input > input[type=text], .paginationjs.paginationjs-theme-red .paginationjs-size-changer > select {
        border-color: #c9302c
    }

    .paginationjs.paginationjs-theme-red .paginationjs-go-button > input[type=button] {
        background: #c9302c;
        border-color: #c9302c;
        color: #fff
    }

        .paginationjs.paginationjs-theme-red .paginationjs-go-button > input[type=button]:hover {
            background-color: #ce4541
        }

    .paginationjs .paginationjs-pages li.paginationjs-next {
        border-right: 1px solid #aaa\9
    }

    .paginationjs .paginationjs-size-changer {
        margin-left: 5px\9
    }

        .paginationjs .paginationjs-size-changer > select {
            line-height: 28px\9;
            vertical-align: middle\9
        }

    .paginationjs .paginationjs-go-input {
        margin-left: 5px\9
    }

        .paginationjs .paginationjs-go-input > input[type=text] {
            line-height: 28px\9;
            vertical-align: middle\9
        }

    .paginationjs .paginationjs-go-button {
        margin-left: 5px\9
    }

    .paginationjs.paginationjs-big .paginationjs-pages li > a {
        line-height: 36px\9
    }

    .paginationjs.paginationjs-big .paginationjs-go-input > input[type=text] {
        height: 36px\9;
        line-height: 36px\9
    }

.data-container {
    overflow: auto;
    margin: 15px 0;
}

    .data-container ul {
        margin: 0;
        padding-left: 0;
    }

    .data-container li {
        background: #EEE;
        margin-bottom: 3px;
        padding: 8px;
        line-height: 1em;
        list-style: none;
    }

    .data-container .loading {
        padding-top: 15%;
        text-align: center;
    }


@media (min-width: 320px) and (max-width: 479px) {

    [data-th] {
        width: 250px;
    }


    [data-th="User"] {
        max-height: 99px;
    }
    #pagination-container {
        min-width: 280px;
    }

    tr.table-data {
        height: 405px;
    }

}


@media (min-width: 480px) and (max-width: 992px) {

 
    [data-th="User"] {
        max-height: 99px;
    }

    [data-th] {
        width: 350px;
    }

    #pagination-container {
        min-width: 380px;
    }


    tr.table-data {
        height: 405px;
    }
}

@media (min-width: 1280px) {
    tr.table-data {
        height: 120px;
    }
}

