@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <h2>Polls:</h2>
        <ul>
            @foreach (var poll in Model)
            {
                <li>@poll.Name</li>
            }
        </ul>
    </div>
</div>
<script>
    console.log(@Html.Raw(Json.Serialize(Model)));
</script>