@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h2>Polls:</h2>
    </div>
    <br />
    <form>
        <label for="cars">Choose a poll:</label>
        @*Onchange, a GET request will be made, to retrieve the poll name being passed.
            The PollController will then return the necessary data to display the poll data to this view
        *@
        <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </form>
</div>
<script>
    console.log(@Html.Raw(Json.Serialize(Model)));
</script>
 
@* <ul>
    @foreach (var poll in Model)
    {
        <li>@poll.Name</li>
    }
</ul>  *@