@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h2>Polls:</h2>
    </div>
    <br />
@*     @if (Context.User.Identity.IsAuthenticated)
    {
    <br />
    <h3>Welcome @User.Identity.Name</h3>
    <br />
    <a asp-controller="Login" asp-action="Logout">Logout</a>
    } *@
</div>
<script>
    console.log(@Html.Raw(Json.Serialize(Model)));
</script>
 
@* <ul>
    @foreach (var poll in Model)
    {
        <li>@poll.Name</li>
    }
</ul>  *@